body {
    font-family: Arial, Helvetica, sans-serif;
}

/* nav and header styles */
header {
    height: 50px;
    background-color: skyblue;
}

a {
    color: black;
    transition: all 1s;
    margin: auto 10px;
}

a:hover {
    color: white;
    transform: scale(1.2);
}

h1 {
    margin-top: 20px;
    text-align: center;
}

.contentBox {
    margin: 50px auto;
    height: 400px;
    width: 50%;
    background-color: skyblue;
}

h3 {
    text-align: center;
    margin-top: 5%;
}

.btn {
    margin: 10% 0;
}
