body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

/* nav and header styles */
header {
    height: 50px;
    background-color: skyblue;
}

a {
    color: black;
    transition: all 1s;
    margin: auto 10px;
}

a:hover {
    color: white;
    transform: scale(1.2);
}

h1 {
    margin-top: 20px;
}    

.contentBox {
    margin: 50px auto;
    height: 475px;
    width: 50%;
    background-color: skyblue;
}

h2 {
    margin-top: 5%;
}

.btn {
    margin: 10% 0;
}
