body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

/* nav and header styles */
header {
    width: 100%;
    position: absolute;
    height: 50px;
    background-color: skyblue;
}

.scoresLink {
    margin-left: 2%;
}

.aLink {
    color: black;
    transition: all 1s;
    margin: auto 10px;
    text-align: center;
    font-size: 16px;
}

.aLink:hover {
    color: white;
    transform: scale(1.1);
}

.timerContainer {
    margin: auto 20px;
}

/* body content styles */
h1 {
    margin-top: 10%;
    margin-bottom: 2%;
}    

.contentBox {
    margin: 10px auto;
    height: 535px;
    width: 60%;
    background-color: skyblue;
}

h2 {
    margin-top: 2%;
}

.btn {
    margin: 3% auto;
}

/* footer styles */
footer {
    background-color: lightgrey;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* quiz questions section styling */
ul {
    padding: 5px;
}

li {
    list-style-type: none;
    text-align: center;
}

.btn-primary {
    margin: 5px;
    width: 50%;
}

/* submit scores and initials section styling */
.initials {
    margin-top: 30px;
    padding: 3px;
}

.contentBoxScore {
    height: 250px;
}

.submitBtn {
    width: 100px;
    text-align: center;
}